

.email-invalid {
  border: 2px solid red;
}

.email-invalid:focus {
  border: 2px solid red;
  outline: none;
}


.email-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}



.pass-invalid {
  border: 2px solid red;
}

.pass-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}


.pass-invalid:focus {
  border: 2px solid red;
  outline: none;
}


.name-invalid {
  border: 2px solid red;
}

.name-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}


.name-invalid:focus {
  border: 2px solid red;
  outline: none;
}


.guitar-card {
  border: 1px solid black;
  width: 10rem;
  margin: 2rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.guitar-card-link {
  display: block;
  width: 10rem;

}

.form {
  height: 40rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 4rem;
  text-align: center;
}

.form input {
  margin: .5rem;
}

.form label {
  display: block;
}

h4 {
  margin: 10rem;
}

.form-table {
  text-align: center;
  height: 40rem;
  display: flex;
  justify-content: center;
}

.guitar-table {
  margin-left: auto;
  margin-right: auto;
}


table {
  border: 1px solid rgb(74, 72, 83);
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  padding: .5rem 0;
  word-break: break-all;
}

tr input {
  width: 4rem;
}

.navbar {
  width: 40%;
}
.navbar nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.admin-painel {
  height: 70%;
  display: flex;
  justify-content: space-between;
}