* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
}


.email-invalid {
  border: 2px solid red;
}

.email-invalid:focus {
  border: 2px solid red;
  outline: none;
}


.email-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}

.pass-invalid {
  border: 2px solid red;
}

.pass-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}


.pass-invalid:focus {
  border: 2px solid red;
  outline: none;
}


.name-invalid {
  border: 2px solid red;
}

.name-valid:focus {
  outline: none !important;
  border:1px solid rgb(116, 143, 200);
  box-shadow: 0 0 10px #719ECE;
}


.name-invalid:focus {
  border: 2px solid red;
  outline: none;
}


/* .form {
  height: 40rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 4rem;
  text-align: center;
}

.form input {
  margin: .5rem;
}

.form label {
  display: block;
}

h4 {
  margin: 10rem;
}

.form-table {
  text-align: center;
  height: 40rem;
  display: flex;
  justify-content: center;
}

.guitar-table {
  margin-left: auto;
  margin-right: auto;
}


table {
  border: 1px solid rgb(74, 72, 83);
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  padding: .5rem 0;
  word-break: break-all;
}

tr input {
  width: 4rem;
}



.admin-painel {
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.user-data {
  border: 1px solid black;
  width: 16rem;
  margin: .4rem 8rem;
  padding: .4rem;
  flex-wrap: wrap;
}

.unauthorized {
  color: red;
}

.details-title {
  display: flex;
  height: 5rem;
  text-align: center;
  align-items: center;
}

.heart  {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: rgb(192, 187, 187);
  cursor: pointer;
}

.black-heart {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.favorite-card {
  border: 1px solid black;
  padding: 2rem;
  width: 10rem;
  height: 10rem;
}

.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}

.form-container {
  text-align: center;
}

.link-red {
  color: red;
}

.navbar nav {
  width: 40%;
  display: flex;
}
.navbar nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

li {
  list-style: none;
}

.user-data-config {
  border: 1px solid black;
  width: 16rem;
  margin: .4rem 8rem;
  height: 15rem;
}

.user-data-config form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15rem;
}

input, label {
  display:block;
}



.filters-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}


.filters-text {
  width: 50%;
  display: flex;
  justify-content: end;
}


.home-filters  {
  display: flex;
  justify-content: space-between;
}

.radios-btns {
  display: flex;
}

.radios-btns input {
  margin: 0 2rem;
}

.by-price {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  align-items: center;
  width: 13rem;
}

.by-price input {
  width: 5rem;
}

.by-price-container {
  margin-top: 1rem;
}

.clear-filters {
  margin-top: 1rem;
}

.guitar-deck-container {
  height: 100%;
  margin-top: 2rem;
}

.guitar-deck {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.guitar-card {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: block;
}

.guitar-card-link {
  display: block;
  width: 10rem;

}

.btn-top-filters {
  border: none;
  background-color: none;
  height: 0;
  cursor: pointer;
}

.btn-page {
  padding: .1rem .5rem;
  margin: 0 .4rem;
} */



.popup-left-content ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.popup-left-content ul li {
  position: relative;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgb(224, 144, 144);
      margin: 0 10px 0 3px;
      border-radius: 50%;
      transition: 0.5s;
      cursor: pointer;
}

.popup-left-content ul li:hover {
  background: #86ff3b;
  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}


.popup-left-content ul li:hover .content-popup {
  visibility: visible;
  opacity: 1;
}

.content-popup {
  position: absolute;
  bottom: 55px;
  width: 400px;
  background: rgb(212, 203, 203);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.content-popup p {
  font-family: 'Roboto Condensed';
}