@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill:   rgba(143, 107, 202, 0.945);
  --line-border-empty: #e0e0e0;
}


.container {
  text-align: center;
	margin-top: -3rem;
  background-color: white;
  width: 85%;
  margin: 0 auto;
  padding: 5.5rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  margin-bottom: 2rem;
}

@media screen and (min-width: 960px) {
    .container {
      width: 40%;
  padding: 5.5rem 2rem;

    }
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 50px auto;
  max-width: 100%;
  width: 250px;
	z-index: 100;

}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress-step2 {
	width: 50%;
}

.progress-step3 {
	width: 100%;
}

.circle {
  background-color: #fff;
  color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
