.main__container {
  background-color: #f7f7f7;
  max-width: 1400px;
  margin: auto;
  height: 1400px;
}

.main__container-margin {
  height: 1550px;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 960px) {
  body {
    background-color: #f7f7f7;
  }
}
