.main__container {
	background-color: #f7f7f7;
	max-width: 1400px;
	margin: auto;
	/* height: 100vh; */
	/* overflow-y:auto; */

}

::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 960px) {
}

