.details-title {
	display: flex;
	width: 80%;
	margin: 2rem auto;
}

.details-title h1 {
  font-size: 3rem;
  /* background: -webkit-linear-gradient(rgba(67, 63, 98, 0.671), rgb(38, 38, 42)); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}