.footer {
    bottom:0;
    position: fixed;
    width:100%;
    height:60px;
    background:#6cf;
    z-index: 100;
}

@media screen and (max-width: 960px) {
    /* .footer {
    display: none;
    } */

    .footer {
        /* bottom:0; */
        /* position: fixed; */
        width:100%;
        height:60px;
        background:#6cf;
        z-index: 100;
    }


}