.btns-page-container {
	margin: 3rem 0 -2rem 0;
}
.btns-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btns-page button {
border: 2px solid rgba(0, 0, 0, 0.568);
padding: .2rem 1rem;
border-radius: 5px;
cursor: pointer;
margin: 1rem;
background: none;
/* color: rgba(119, 73, 139, 0.486); */
}

.controls-icon {
	font-size: 3.5rem;
	color: rgba(112, 110, 138, 0.671);
	cursor: pointer;
}

.controls-icon-next {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	font-size: 3.5rem;
	color: rgba(112, 110, 138, 0.671);
	cursor: pointer;
}

.controls-icon:hover {
	color: rgba(35, 26, 153, 0.671);
	transition: .4s;
}

.controls-icon-next:hover {
	color: rgba(35, 26, 153, 0.671);
	transition: .4s;
}
