.btns-page-container {
	margin: 3rem 0 -2rem 0;
}
.btns-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btns-page button {
border: 2px solid rgba(0, 0, 0, 0.568);
padding: .2rem 1rem;
border-radius: 5px;
cursor: pointer;
margin: 1rem;
background: none;
/* color: rgba(119, 73, 139, 0.486); */
}

