@media screen and (min-width: 960px) {

	.carousel {
		/* margin: 4rem; */
		width: 90%;
		height: 20%;
	}

	.card__carousel {
		height: 40rem;
	}



}

@media screen and (max-width: 960px) {

	.carousel {
		width: 100%;
	}


}


