.sideBar__nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;        
    margin: 3rem auto;  
}  

.sideBar__nav li {
    list-style: none;
}

.active-link {
    /* color: white; */
    background-color: rgb(110, 94, 254);
    padding: .3rem 1rem;
    border-radius: 4px;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .3rem 1rem;
    color: black;

}

@media screen and (min-width: 960px) {
    .sideBar__nav {
        width: 40%;
    } 

}

/* 

@media screen and (max-width: 960px) {
    .sideBar__nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;        
        margin: 2.5rem auto;  
    }  

    .sideBar__nav li {
       list-style: none;
    }

    .active-link {
        color: white;
        background-color: rgb(110, 94, 254);
        padding: .3rem 1rem;
        border-radius: 4px;
    }

    .link {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
    }

} */