.main__container__details {
  background-color: #f7f7f7;
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
}

.loading {
  margin: auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container img {
  height: 60rem;
}

.review__container {
  margin: 1.5rem;
}
