.account-title {
    margin: 2rem 3rem;
}

.account__btn {
    margin: 1.5rem auto;
}

.input-box-account span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-box-account {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin: auto;
    height: 10rem;
}

.input-box-account input {
    width: 100%;
    margin: auto;
    background-color: white;
}

.config__container {
    background-color: #f7f7f7;
	max-width: 1400px;
	margin: auto;
    padding-bottom: 2rem;
}

.overflow__content {
    background-color: transparent;
    width: 20rem;
    height: .1rem;
}

.btns-page{
    width: 80%;
    margin: auto;
}

.overflow__content-config {
    height: 5vh;
}

@media only screen  and (min-width: 960px)   {
    .user-data-config {
        width: 40%;
        margin: 10rem 0 0 10rem;
    }

    .config__container {
    height: 100vh;

    }
}