
.account-title {
    margin: 2rem 3rem;
}

.account__btn {
    margin: 1.5rem auto;
}

.input-box-account span {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-box-account {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    height: 10rem;
}

.input-box-account input {
    width: 100%;
    margin: auto;
    background-color: white;
}

@media only screen  and (min-width: 960px)   {
    .user-data-config {     
        width: 40%;
        margin: 5rem 0;        
    }
}